.about {
    display: flex;
    flex-direction: row;
}
.row {
    display: flex;
    flex-direction: row;
}
.detailsLine{
    display: flex;
    flex-direction: row    ;
}
.paragraphs {
    display: flex;
    flex-direction: column;
}
.right {
    display: flex;
    flex-direction: column;
}